[submodule "vrx_ws/vrx_ws/src/vrx"]
	path = vrx_ws/vrx_ws/src/vrx
	url = https://github.com/osrf/vrx
[submodule "Imitation/imitation"]
	path = Imitation/imitation
	url = https://github.com/HumanCompatibleAI/imitation
